body {
    background-color: #3AAFA9;
    font-family: 'Roboto', sans-serif;
}

.navegacao {
    margin-top: 60px;
    background-color: #17252A;
    height: 74px;
}

.navegacao a {
    color: #feffff;
    font-size: 1.2rem;
}

#consulta-covid {
    font-size: 1.5rem;
}